{# This is the home page that will display the book details #}

{% extends 'book/book_layout.html.twig' %}

{% block title %}Livre - {{ parent() }} {{ book.id }}{% endblock %}

{% block body %}
   <section class="img-background">
        <div class="text-container">
            <p>Salutations</p>
            <p>Bienvenue sur mon site</p>
            <p>qui propose des coups de coeur en littérature</p>
        </div>
   </section>

   <section class="detail-image">
        <p class="book-detail-title">{{ book.title }}</p>
        <img class="box-image" src="{{ book.picture }}" alt="fairy-picture">
        <div class="box-text">
            <p class="details">Auteur : {{ book.author }}</p>
            <p class="details">Genre : {{ book.genre }}</p>
            <p class="details">Description : {{ book.description }}</p>
            <p class="details">Commentaire : {{ book.comment }}</p>
        </div>
   </section>
   
{% endblock %}
  