{# This is the home page #}

{% extends 'book/book_layout.html.twig' %}

{% block title %}Accueil - {{ parent() }} {% endblock %}

{% block body %}
   <section class="img-background">
        <div class="text-container">
            <p>Salutations</p>
            <p>Bienvenue sur mon site</p>
            <p>qui propose des coups de coeur en littérature</p>
        </div>
   </section>

   <section>
      <div class="about-author">
         <img class="fairy-picture" src="{{ asset('assets/images/fairy.jpg') }}" alt="fairy-picture">
         <div class="about-text">
               <p>A propos de l'autheur</p>
               <p> Grand amateur de bandes dessinées, mangas, thrillers, heroï Fantasy et Science Fiction, 
               j'aime partager mes coups de coeur, mes découvertes (récentes ou non d'ailleurs).
               </p>
         </div>
      </div>
   </section>

   <section>
      <div class="presentation">
         <p class="presentation-text">Coups de coeur</p>
         <div class="box-container">
            {% for book in books %}
               <div class="boxs">
                  <p class="book-title">{{ book.title }}</p>
                  <img class="picture" src="{{ book.picture }}">
                  <button><a href="{{ path('book_details', { id : book.id }) }}">Plus de détails</a></button>
               </div>
            {% endfor %}
         </div>
      </div>
   </section>

{% endblock %}
